/* Color codes */

// Basic
$color_primary_light: #2C74B3;
$color_primary: #205295;
$color_primary_dark: #092342;
$color_text_1: #FFFFFF;
$color_text_2: rgba(255, 255, 255, 0.8);
$color_text_3: #dadada;
$color_black: #131313;

// Background
$color_background_primary: #16162A;