@import "./utils/variables";

body {
  @include typographyBuilder();
  color: $color_text_1;
  background-color: $color_background_primary;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 30px 20px;
}